body {
     background-color: rgb(64, 58, 69);
     color: #000000;
     margin: 0;
     padding: 20px;
     font-family: Arial, Helvetica, sans-serif;
}

.page-title {
     text-align: center;
     margin: 0 0 20px;
     font-size: clamp(1.8rem, 3vw, 2.8rem);
}

.drop-down-row {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     gap: 15px;
     max-width: 900px;
     margin: 30px auto;
     
}

.drop-down-row details {
     background-color: rgb(50, 46, 55);
     padding: 15px;
     border-radius: 8px;
}

.details-content {
     max-height: 0;
     overflow: hidden;
     transition: max-height 0.3s ease;
}

details[open] .details-content {
     max-height: 200px;
}

.drop-down-row summary {
     color: aqua;
     font-size: 20px;
     cursor: pointer;
}

.drop-down-row p {
     color: white;
}

.navigation-bar {
     margin-top: 12px;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     gap: clamp(8px, 2vw, 18px);
     font-family: cursive;
}

.navigation-bar a {
     color: aqua;
     text-decoration: none;
     font-size: clamp(12px, 2.7vw, 20px);
     transition: 0.2s;
}

.navigation-bar a:hover{
     color: rgb(153, 255, 255);
     font-size: clamp(12px, 3vw, 23px);
}

@media (max-width: 600px) {
     .drop-down-row {
     grid-template-columns: 1fr;
     }
}